main {
    width:100%;
    height:120vh;
    display:block;
    position:relative;
    margin: 0 auto;
    float: none;
    background: #D43939;
    
}

main section#caja-principal {
width:100%;
    height:100vh;
    display:block;
    position:relative;
    margin: 0 auto;
    float: none;
    
}   

main section#caja-principal article:nth-child(1) {
width:60%;
    height:100vh;
    display:block;
    position:relative;
    margin: 0 2% 0 0 0;
    float: left;
    background: #333;
}
main section#caja-principal article:nth-child(1) img {}



main section#caja-principal article:nth-child(2) { 
width:30%;
    height:120vh;
    display:block;
    position:relative;
    margin: 0;
    float: left;
    background: #F9F6A8;
    font-family:cursive
}
main section#caja-principal article:nth-child(2) h1 { }
main section#caja-principal article:nth-child(2) h2 { }

main section#caja-principal article:nth-child(2) a { }
main section#caja-principal article:nth-child(2) a:hover { }

main section#caja-principal article:nth-child(2) p { }

main section#caja-principal article:nth-child(2) div#caja-info { }
main section#caja-principal article:nth-child(2) div#caja-info div.caja-texto { }
main section#caja-principal article:nth-child(2) div#caja-info div.caja-texto h6 { }
main section#caja-principal article:nth-child(2) div#caja-info div.caja-texto h4 { }

main section#caja-principal article:nth-child(2) nav { }
main section#caja-principal article:nth-child(2) nav a { }
main section#caja-principal article:nth-child(2) nav a:hover { }
main section#caja-principal article:nth-child(2) nav a i { }
main section#caja-principal article:nth-child(2) nav a:hover i { }
















